---
- name: Install packages for macOS/Darwin
  become: no
  homebrew:
    name:
      - bat
      - curl
      - cmake
      - fd
      - fzf
      - htop
      - jq
      - node
      - ripgrep
      - tldr
      - tmux
      - wget
      - zsh
      - ninja
      - gettext
      - libtool
      - autoconf
      - automake
      - pkg-config
      - unzip
      - lazygit
      - alacritty
      - git
      - zoxide
  when: ansible_os_family == "Darwin"
  tags:
    - allpackages

- name: install debian tools
  become: yes
  apt:
    name:
      - bat
      - curl
      - fd-find
      - htop
      - jq
      - nodejs
      - ripgrep
      - tldr
      - tmux
      - wget
      - zsh
      - ninja-build
      - gettext
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - doxygen
      - git
  when: ansible_os_family == "Debian"
  tags:
    - allpackages

- name: install i3wm and desktop tools (Debian)
  become: yes
  apt:
    name:
      - i3
      - i3lock
      - i3status
      - xss-lock
      - rofi
      - flameshot
      - network-manager-gnome
      - pulseaudio-utils
      - alacritty
      - x11-xserver-utils
      - xclip
      - arandr
      - lxappearance
      - picom
      - dunst
      - feh
  when: ansible_os_family == "Debian"
  tags:
    - allpackages
    - i3
    - desktop

- name: install redhat tools
  become: yes
  dnf:
    name:
      - curl
      - htop
      - jq
      - nodejs
      - ripgrep
      - tmux
      - wget
      - zsh
      - ninja-build
      - libtool
      - autoconf
      - automake
      - cmake
      - gcc
      - gcc-c++
      - make
      - pkgconfig
      - unzip
      - patch
      - gettext
      - git
  when: ansible_os_family == "RedHat"
  tags:
    - allpackages

- name: install i3wm and desktop tools (RedHat)
  become: yes
  dnf:
    name:
      - i3
      - i3lock
      - i3status
      - rofi
      - network-manager-applet
      - pulseaudio-utils
      - xclip
      - picom
  when: ansible_os_family == "RedHat"
  tags:
    - allpackages
    - i3
    - desktop

- name: install lazygit
  become: yes
  shell: |
    LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
    curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
    tar xf lazygit.tar.gz lazygit
    install lazygit /usr/local/bin
    rm -rf lazygit*
  when: ansible_os_family != "Darwin"   # Run only on non-macOS systems
  tags:
    - lazygit
    - allpackages

- name: download fzf 
  # become: yes 
  git: 
    repo: "https://github.com/junegunn/fzf.git"
    dest: "{{ user_home }}/.fzf"
    version: HEAD # latest
  tags: 
    - fzf
    - allpackages

- name: install fzf 
  # become: yes
  shell: "{{ user_home }}/.fzf/install --all"
  tags: 
    - fzf 
    - allpackages

- name: install zoxide
  shell: "curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash"
  tags: 
    - zoxide
    - allpackages

- name: link fdfind to fd
  become: yes
  file:
    src: "/usr/bin/fdfind"
    dest: "/usr/local/bin/fd"
    state: link
    force: yes
  tags: 
    - allpackages
    - fd

- name: link batcat to bat
  become: yes
  file:
    src: "/usr/bin/batcat"
    dest: "/usr/local/bin/bat"
    state: link
    force: yes
  tags: 
    - allpackages
    - bat

- name: download fd-find
  get_url: 
    url: https://github.com/sharkdp/fd/releases/download/v8.3.1/fd-v8.3.1-x86_64-unknown-linux-musl.tar.gz
    dest: "{{ user_home }}/fd-v8.3.1-x86_64-unknown-linux-musl.tar.gz"
  tags: 
    # - allpackages
    - fd-source

- name: install fd-find
  shell: |
    tar -xvzf {{ user_home }}/fd-v8.3.1-x86_64-unknown-linux-musl.tar.gz
    mv {{ user_home }}/fd-v8.3.1-x86_64-unknown-linux-musl/fd /usr/local/bin/fd
    rm -rf {{ user_home }}/fd-v8*
  tags:
    - fd-source

- name: Check if Rust is installed
  stat: path="{{ user_home }}/.cargo/bin/rustc"
  register: rust_installed
  tags:
    - rust
    - i3-tools

- name: Install Rust
  shell: "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"
  when: not rust_installed.stat.exists
  tags:
    - rust
    - i3-tools

- name: Check if i3status-rs is installed
  stat: path="{{ user_home }}/.cargo/bin/i3status-rs"
  register: i3status_rs_installed
  tags:
    - i3-tools

- name: Install i3status-rs
  shell: "{{ user_home }}/.cargo/bin/cargo install i3status-rs"
  when: not i3status_rs_installed.stat.exists
  tags:
    - i3-tools

- name: Check if i3-autolayout is installed
  stat: path="{{ user_home }}/.cargo/bin/i3-autolayout"
  register: i3_autolayout_installed
  tags:
    - i3-tools

- name: Install i3-autolayout
  shell: "{{ user_home }}/.cargo/bin/cargo install i3-autolayout"
  when: not i3_autolayout_installed.stat.exists
  tags:
    - i3-tools

- name: Check if i3wsr is installed
  stat: path="{{ user_home }}/.cargo/bin/i3wsr"
  register: i3wsr_installed
  tags:
    - i3-tools

- name: Install i3wsr
  shell: "{{ user_home }}/.cargo/bin/cargo install i3wsr"
  when: not i3wsr_installed.stat.exists
  tags:
    - i3-tools


